:root {
  --blue: rgb(34, 86, 255);
  --white: rgb(255, 255, 237);
  --pink: rgb(255, 98, 216);
  --black: rgb(36, 36, 36);
  --darkPink: rgb(20, 3, 51);
  --gray: rgb(179, 179, 179);
  --bgGray: rgb(48, 48, 48);
}
