@import url("../../variables.css");

.chatPage {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .wrapper {
    flex: 1;
    width: 100%;
    overflow: scroll;

    .chat {
      margin: 0 auto;
      width: 80%;
      padding: 30px 60px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 50px;

      .message {
        border-radius: 10px;
        background-color: var(--bgGray);
        padding: 20px;
        p,
        ul {
          margin: 10px 0;
        }
        ul {
          margin-left: 20px;
        }
      }

      .user {
        align-self: flex-end;
        max-width: 70%;
        border-top-right-radius: 0;
      }
      .bot {
        max-width: 70%;
        align-self: flex-start;
        border-top-left-radius: 0;
      }

      .formContainer {
        position: absolute;
        left: 0;
        bottom: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
