.rootLayout {
  padding: 15px 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      gap: 10px;
      font-weight: bold;
      align-items: center;

      img {
        width: 35px;
      }
    }
  }

  main {
    flex: 1;
    overflow: hidden;
  }
}
